In [1]:
import os
import tweepy as tw
import pandas as pd
import time
import datetime

In [2]:
consumer_key = ""
consumer_secret = ""
access_token = ""
access_token_secret = ""
# You can use your keys unfortunately I can't share it

In [3]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [4]:
search_words = "manchester united"

In [5]:
start = time.time()
tweets = tw.Cursor(api.search,
              q=search_words+' -filter:retweets', tweet_mode="extended",
              lang="en").items(5)


for tweet in tweets:
    print(f'Tweets is :    {tweet.full_text}')
    print ('---')

end = time.time()
print(f"It took {round(end - start, 2)} Seconds to get tweets")

Tweets is :    “I can’t now”- 29-year-old Tottenham superstar reveals why he supported Man United https://t.co/4dzk9s0BV9
---
Tweets is :    Ryan Giggs
Club :- Manchester United
Years :- 1990-2014
Appearances :- 672
Goals :- 114

Billy Liddel
Club :- Liverpool
Years :- 1938-1961
Appearances :- 492
Goals :- 215

Francesco Totti
Club :- Roma
Years :- 1992-2017
Appearances :- 619
Goals :- 250
---
Tweets is :    How long does it take for Manchester United membership card to arrive?
---
Tweets is :    Can just imagine Ole shouting  "This is Manchester United" into the ears of his players https://t.co/o6GdygDVi1
---
Tweets is :    Carles Puyol
Club :- Barcelona
Years :- 1999-2014
Appearances :- 392
Goals :- 12

Paolo Maldini
Club :- Ac Millan
Years :- 1984-2009
Appearances :- 647
Goals :- 29

Paul Scholes
Club :- Manchester United
Years :- 1993-2013
Appearances :- 499
Goals :- 107
---
It took 0.85 Seconds to get tweets

In [6]:
start = time.time()

tweets = tw.Cursor(api.search,
              q=search_words+' -filter:retweets', tweet_mode="extended",
              lang="en").items(1000)

users_locs = [[tweet.full_text,tweet.created_at] for tweet in tweets]
tweet_text = pd.DataFrame(data=users_locs, 
                    columns=['tweet','date'])
end = time.time()
print(f"It took {round(end - start, 2)} Seconds to get tweets")
tweet_text.head()

It took 51.8 Seconds to get tweets

                                               tweet                date
0  “I can’t now”- 29-year-old Tottenham superstar... 2021-09-17 17:54:28
1  Ryan Giggs\nClub :- Manchester United  \nYears... 2021-09-17 17:54:11
2  How long does it take for Manchester United me... 2021-09-17 17:54:08
3  Can just imagine Ole shouting  "This is Manche... 2021-09-17 17:53:38
4  Carles Puyol\nClub :- Barcelona\nYears :- 1999... 2021-09-17 17:53:33

In [7]:
tweet_text.to_csv('manchester.csv', index=False)

In [19]:
manchester = pd.read_csv('manchester.csv')

In [22]:
manchester.head()

                                               tweet                 date
0  “I can’t now”- 29-year-old Tottenham superstar...  2021-09-17 17:54:28
1  Ryan Giggs\nClub :- Manchester United  \nYears...  2021-09-17 17:54:11
2  How long does it take for Manchester United me...  2021-09-17 17:54:08
3  Can just imagine Ole shouting  "This is Manche...  2021-09-17 17:53:38
4  Carles Puyol\nClub :- Barcelona\nYears :- 1999...  2021-09-17 17:53:33

In [11]:
df.shape

(1000, 2)

Now Lets do it again for Barcelona

In [13]:
search_words = "fc barcelona"

In [14]:
start = time.time()

tweets = tw.Cursor(api.search,
              q=search_words+' -filter:retweets', tweet_mode="extended",
              lang="en").items(1000)

users_locs = [[tweet.full_text,tweet.created_at] for tweet in tweets]
tweet_text = pd.DataFrame(data=users_locs, 
                    columns=['tweet','date'])
end = time.time()
print(f"It took {round(end - start, 2)} Seconds to get tweets")
tweet_text.head()

It took 52.63 Seconds to get tweets

                                               tweet                date
0  FC Barcelona takes his hat off to Real Madrid!... 2021-09-17 17:55:06
1  24-years-ago Faustino ‘El Tino’ Asprilla nette... 2021-09-17 17:51:54
2  @imfootybants FC Barcelona is a bigger club th... 2021-09-17 17:50:44
3  FC Barcelona: Eduard Romeu returns to the non-... 2021-09-17 17:46:25
4  GRIUP C:\nAjax - 3 Points \nBVB - 3 Points \nB... 2021-09-17 17:37:43

Note Our limit in basic developer account is 420 tweets every 15 mins, so I had to run the code multiple times to get 1 thousand tweets for each team

In [15]:
tweet_text.to_csv('barcelona.csv', index=False)

In [21]:
barcelona = pd.read_csv('barcelona.csv')

In [23]:
barcelona.head()

                                               tweet                 date
0  FC Barcelona takes his hat off to Real Madrid!...  2021-09-17 17:55:06
1  24-years-ago Faustino ‘El Tino’ Asprilla nette...  2021-09-17 17:51:54
2  @imfootybants FC Barcelona is a bigger club th...  2021-09-17 17:50:44
3  FC Barcelona: Eduard Romeu returns to the non-...  2021-09-17 17:46:25
4  GRIUP C:\nAjax - 3 Points \nBVB - 3 Points \nB...  2021-09-17 17:37:43

We will define a column for team name for the Analysis Later

In [24]:
manchester['Team'] = 'Manchester'

In [25]:
manchester.head()

,tweet,date,Team
0,“I can’t now”- 29-year-old Tottenham superstar...,2021-09-17 17:54:28,Manchester
1,Ryan Giggs\nClub :- Manchester United \nYears...,2021-09-17 17:54:11,Manchester
2,How long does it take for Manchester United me...,2021-09-17 17:54:08,Manchester
3,"Can just imagine Ole shouting ""This is Manche...",2021-09-17 17:53:38,Manchester
4,Carles Puyol\nClub :- Barcelona\nYears :- 1999...,2021-09-17 17:53:33,Manchester

Same for Barcelona

In [26]:
barcelona['Team'] = 'Barcelona'

In [27]:
barcelona.head()

,tweet,date,Team
0,FC Barcelona takes his hat off to Real Madrid!...,2021-09-17 17:55:06,Barcelona
1,24-years-ago Faustino ‘El Tino’ Asprilla nette...,2021-09-17 17:51:54,Barcelona
2,@imfootybants FC Barcelona is a bigger club th...,2021-09-17 17:50:44,Barcelona
3,FC Barcelona: Eduard Romeu returns to the non-...,2021-09-17 17:46:25,Barcelona
4,GRIUP C:\nAjax - 3 Points \nBVB - 3 Points \nB...,2021-09-17 17:37:43,Barcelona

In [29]:
df = pd.concat([manchester, barcelona])

In [31]:
df.shape

(2000, 3)

In [32]:
df.tail()

,tweet,date,Team
995,@FCBarcelona @ChampionsLeague Top 100 football...,2021-09-14 20:49:55,Barcelona
996,@FCBarcelona @ChampionsLeague Top 100 football...,2021-09-14 20:49:51,Barcelona
997,make that 0-3 and a few minutes to go. \nThis ...,2021-09-14 20:49:44,Barcelona
998,FC Barcelona played like a finished club with ...,2021-09-14 20:49:44,Barcelona
999,Bayern Munich win 3-0 against FC Barcelona and...,2021-09-14 20:49:43,Barcelona

ok now we have 2 tweets for each team, now lets save this as csv and add it to our model

In [34]:
df.to_csv('teams.csv', index=False)